[Desktop Entry]
Name=VSCodium
Comment=Code Editing. Redefined.
Exec=remsu /usr/bin/sparky-office codium
Icon=vscodium
Terminal=false
Type=Application
Categories=Office;
