[Desktop Entry]
Version=1.0
Name=ONLYOFFICE
GenericName=ONLYOFFICE
Comment=ONLYOFFICE Desktop Editors
Exec=remsu /usr/bin/sparky-office onlyoffice
Icon=/usr/share/icons/sparky/onlyoffice.png
Terminal=false
Type=Application
Categories=Office;
