[Desktop Entry]
Name=WPS Mui
GenericName=WPS Mui
Comment=Download and install WPS Office language pack
Comment[pl]=Pobierz i zainstaluj pakiet językowy WPS Office
Comment[pt_BR]=Baixa e instala o pacote de idioma WPS Office
Type=Application
Terminal=false
Exec=/usr/lib/sparky-aptus/bin/wpsmui
Icon=preferences-desktop-locale
Categories=System;
