[Desktop Entry]
Name=CudaText
GenericName=CudaText
Comment=Text and code editor
Comment[pl_PL]=Edytor tekstu i kodu
Exec=remsu /usr/bin/sparky-office cudatext
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;TextEditor;
Icon=text-editor
