[Desktop Entry]
Name=KWrite
Comment=KDE Text Editor
Comment[ar]=محرّر نصوص لكدي
Comment[ca]=Editor de text pel KDE
Comment[cs]=Textový editor pro KDE
Comment[da]=KDE Teksteditor
Comment[de]=KDE-Texteditor
Comment[el]=Επεξεργαστής κειμένου για το KDE
Comment[es]=Editor de texto de KDE
Comment[et]=KDE tekstiredaktor
Comment[fi]=KDE:n tekstimuokkain
Comment[fr]=Éditeur de texte de KDE
Comment[gl]=Editor de textos de KDE
Comment[he]=עורך טקסט של KDE
Comment[hu]=Szövegszerkesztő
Comment[ia]=Editor de texto de KDE
Comment[id]=Penyunting Teks KDE
Comment[it]=Editor di testo di KDE
Comment[ko]=KDE 텍스트 편집기
Comment[lt]=KDE rašyklė
Comment[nb]=KDE tekstredigering
Comment[nl]=KDE tekstbewerker
Comment[nn]=Skriveprogram for KDE
Comment[pa]=KDE ਟੈਕਸਟ ਐਡੀਟਰ
Comment[pl]=Edytor tekstu KDE
Comment[pt]=Editor de Texto do KDE
Comment[pt_BR]=Editor de texto do KDE
Comment[ru]=Текстовый редактор от KDE
Comment[sk]=KDE textový editor
Comment[sl]=Urejevalnik besedil za KDE
Comment[sr]=КДЕ‑ов уређивач текста
Comment[sv]=KDE texteditor
Comment[tr]=KDE Metin Düzenleyici
Comment[uk]=Текстовий редактор KDE
Comment[zh_CN]=KDE 文本编辑器
Comment[zh_TW]=KDE 文字編輯器
Exec=remsu /usr/bin/sparky-office kwrite
Icon=kwrite
Terminal=false
Type=Application
Categories=Office;
