[Desktop Entry]
Name=NixNote
Comment=Open Source Evernote client
Exec=remsu /usr/bin/sparky-office nixnote2
Icon=nixnote2
Terminal=false
Type=Application
Categories=Office;
