[Desktop Entry]
Name=Okular
Comment=Universal document viewer
Comment[ast]=Visor universal de documentos
Comment[ca]=Visualitzador universal de documents
Comment[cs]=Univerzální prohlížeč dokumentů
Comment[da]=Universel dokumentfremviser
Comment[de]=Universeller Dokumentenbetrachter
Comment[el]=Καθολικός προβολέας εγγράφων
Comment[en_GB]=Universal document viewer
Comment[es]=Visor de documentos universal
Comment[et]=Universaalne dokumendinäitaja
Comment[fi]=Yleinen asiakirjakatselin
Comment[fr]=Afficheur de document universel
Comment[gl]=Visor de documentos universal
Comment[ia]=Visor de documento universal
Comment[is]=Fjölhæfur skjalaskoðari
Comment[it]=Visore di documenti universale
Comment[ko]=만능 문서 뷰어
Comment[nl]=Universele documentviewer
Comment[nn]=Dokumentvisar for mange format
Comment[pl]=Wszechstronna przeglądarka dokumentów
Comment[pt]=Visualizador de documentos universal
Comment[pt_BR]=Visualizador de documentos universal
Comment[ru]=Универсальная программа просмотра документов
Comment[sk]=Univerzálny prehliadač dokumentov
Comment[sl]=Vsestranski pregledovalnik dokumentov
Comment[sr]=Универзални приказивач докумената
Comment[sv]=Generell dokumentvisare
Comment[tr]=Evrensel belge görüntüleyici
Comment[uk]=Універсальний переглядач документів
Exec=remsu /usr/bin/sparky-office okular
Icon=okular
Terminal=false
Type=Application
Categories=Office;
