[Desktop Entry]
Name=Geany
Comment=A fast and lightweight IDE using GTK+
Comment[ar]=بيئة تطوير خفيفة وسريع تستخدم مكتبات GTK+
Comment[ast]=Un IDE rápidu y llixeru basáu en GTK+
Comment[be]=Хуткае і легкаважнае асяроддзе распрацоўкі, выкарыстоўваючае GTK+
Comment[ca]=Un IDE ràpid i lleuger fet amb GTK+
Comment[cs]=Rychlé a lehké IDE pro GTK+
Comment[de]=Eine kleine und schnelle Entwicklungsumgebung für GTK+
Comment[el]=Γρήγορο και ελαφρύ GTK+ IDE
Comment[es]=Un IDE rápido y ligero para GTK+
Comment[et]=Kiire ja väike IDE GTK+ põhjal
Comment[eu]=GTK+ erabiltzen duen IDE azkar eta arina
Comment[fa]=A fast and lightweight IDE using GTK+
Comment[fi]=Nopea ja kevyt GTK+-pohjainen ohjelmointiympäristö
Comment[fr]=Un EDI rapide et léger utilisant GTK+
Comment[gl]=Un IDE rápido e lixeiro empregando GTK+
Comment[he]=סביבת פיתוח משולבת קטנה וקלת משקל העושה שימוש ב־GTK+
Comment[hi]=एक तेज और हलका GTK+ का उपयोग कर आईडीई
Comment[hu]=Gyors és pehelykönnyű IDE GTK+ alapokon
Comment[id]=Sebuah IDE yang cepat dan ringan menggunakan GTK+
Comment[it]=Un IDE veloce e leggero che usa GTK+
Comment[ja]=GTK+ を用いた高速で軽量な IDE
Comment[kk]=GTK+ негізіндегі жылдам әрі жеңіл өндіру ортасы
Comment[ko]=빠르고 가벼운 GTK+ 기반의 통합개발환경
Comment[lb]=En klenge an schnelle IDE fir GTK+
Comment[lt]=Greita ir supaprastinta kūrimo aplinka naudojanti GTK+
Comment[lv]=Ātra un viegla IDE, lietojoša GTK+
Comment[nl]=Een snelle en lichtgewicht IDE, gebaseerd op GTK+
Comment[nn]=Eit raskt og lett IDE som nyttar GTK+
Comment[pl]=Szybkie i lekkie środowisko programistyczne oparte na GTK+
Comment[pt]=Um IDE rápido e leve, usando GTK+
Comment[pt_BR]=Uma IDE rápido e leve usando GTK+
Comment[ro]=Un IDE rapid folosind GTK+
Comment[ru]=Быстрая и легковесная среда разработки, использующая GTK+
Comment[sk]=Rýchle a nenáročné IDE pre GTK+
Comment[sl]=Hitro in lahkotno vdelano razvojno okolje z uporabo GTK+
Comment[sr]=Брзо и лагано GTK развојно окружење
Comment[sv]=Ett snabbt och lättviktigt IDE som använder GTK+
Comment[tr]=GTK+ kullanan hızlı ve hafif bir IDE
Comment[uk]=Швидке та легке графічне середовище, що використовує GTK+
Comment[vi]=Một IDE nhanh và nhẹ nhàng dùng GTK+
Comment[zh_CN]=GTK+ 编写的轻快的 IDE
Comment[zh_TW]=一個快速且輕巧的 GTK+ 整合開發環境
Exec=remsu /usr/bin/sparky-office geany
Icon=geany
Terminal=false
Type=Application
Categories=Office;
