[Desktop Entry]
Name=Notepadqq
Comment=Edit source code files
Comment[de_DE]=Quelltext bearbeiten
Comment[fr]=Editer des fichier de code source
Comment[it_IT]=Modifica codici sorgenti
Comment[hu_HU]=Forráskódfájlok szerkesztése
Comment[pl]=Edycja plików z kodem źródłowym
Exec=remsu /usr/bin/sparky-office notepadqq
Icon=notepadqq
Terminal=false
Type=Application
Categories=Office;
