[Desktop Entry]
Name=Atril
Comment=View multi-page documents
Comment[am]=የበርካታ-ገጽ ሰነዶች መመልከቻ 
Comment[ar]=اعرض المُستندات متعددة الصفحات
Comment[ast]=Ver documentos multipáxina
Comment[be]=Праглядаць шматстаронкавыя дакументы
Comment[bg]=Преглед на документи с много страници
Comment[bn]=বহুপৃষ্ঠা সম্বলিত নথি প্রদর্শন
Comment[ca]=Visualitzeu documents de múltiples pàgines
Comment[ca@valencia]=Visualitzeu documents de múltiples pàgines
Comment[cmn]=顯示多頁文件
Comment[cs]=Zobrazovat dokumenty po více stránkách
Comment[da]=Vis dokumenter med flere sider
Comment[de]=Mehrseitige Dokumente anzeigen
Comment[el]=Προβολή εγγράφων πολλαπλών σελίδων
Comment[en_AU]=View multi-page documents
Comment[en_GB]=View multi-page documents
Comment[es]=Vea documentos de varias páginas
Comment[et]=Mitmeleheküljeliste dokumentide vaatamine
Comment[eu]=Ikusi orrialde anitzeko dokumentuak
Comment[fi]=Katsele monisivuisia asiakirjoja
Comment[fr]=Afficher des documents multipages
Comment[gl]=Ver documentos de varias páxinas
Comment[gu]=ઘણા-પાનાનાં દસ્તાવેજો જુઓ
Comment[he]=הצגת מסמכים מרובי עמודים
Comment[hr]=Pogledaj višestranične dokumente
Comment[hu]=Többoldalas dokumentumok megjelenítése
Comment[hy]=Դիտել բազմաէջ փաստաթղթեր
Comment[id]=Melihat dokumen multihalaman
Comment[it]=Visualizza documenti multi-pagina
Comment[ja]=複数ページのドキュメントを表示します
Comment[kk]=Көппарақты құжаттарды қарау
Comment[kn]=ಬಹು-ಪುಟದ ದಸ್ತಾವೇಜನ್ನು ವೀಕ್ಷಿಸು
Comment[ko]=다중 페이지 문서를 봅니다
Comment[ky]=Көп барактуу иш кагаздарды көрүү
Comment[lt]=Peržiūrėti kelių puslapių dokumentams
Comment[lv]=Skatīt lasāmus dokumentus
Comment[mn]=Олон хуудаст баримт бичиг үзэх
Comment[mr]=अनेक पानाचे दस्तऐवज बघा
Comment[ms]=Paparkan 
Comment[nb]=Vis dokumenter med mange sider
Comment[ne]=बहु पृष्ठ कागजात हेर्नुहोस्
Comment[nl]=Documenten met meerdere pagina's weergeven
Comment[nn]=Vis dokument med mange sider
Comment[pa]=ਮਲਟੀ-ਪੇਜ਼ ਡੌਕੂਮੈਂਟ ਵੇਖੋ
Comment[pl]=Wyświetlanie wielostronicowych dokumentów
Comment[pt]=Visualizar documentos com várias páginas
Comment[pt_BR]=Visualize documentos de múltiplas páginas
Comment[ro]=Vizualizați documente cu mai multe pagini
Comment[ru]=Просмотр многостраничных документов
Comment[sc]=Pòmpia documentos multipàgina
Comment[sk]=Zobraziť viac-stranové dokumenty
Comment[sl]=Poglejte večstranske dokumente
Comment[sr]=Прегледајте вишестраничне документе
Comment[sr@latin]=Pregledajte višestranične dokumente
Comment[sv]=Visa dokument med flera sidor
Comment[ta]=பல பக்க ஆவணங்களை பார்வையிடு
Comment[th]=ดูเอกสารแบบหลายหน้า
Comment[tr]=Çok sayfalı belgeleri göster
Comment[uk]=Перегляд багатосторінкових документів
Comment[zh_CN]=查看多页文档
Comment[zh_HK]=顯示多頁文件
Comment[zh_TW]=顯示多頁文件
Exec=remsu /usr/bin/sparky-office atril
Icon=atril
Terminal=false
Type=Application
Categories=Office;
