[Desktop Entry]
Name=Calligra
Comment=A graphic art and office suite by KDE
Comment[de]=Ein freies Grafik- und Office-Paket von KDE
Comment[es]=Una suite ofimática y editor de artes gráficas desarrollado por KDE
Comment[pl]=Zestaw aplikacji biurowych rozwijanych przez społeczność KDE
Comment[pt]=Um conjunto de arte gráfica e escritório pelo KDE
Comment[ru]=Пакет офисных приложений, входящий в состав проекта KDE
Exec=remsu /usr/bin/sparky-office calligra
Icon=calligrawords
Terminal=false
Type=Application
Categories=Office;
