[Desktop Entry]
Version=1.0
Name=FreeOffice
GenericName=FreeOffice
Comment=SoftMaker FreeOffice is a complete office suite
Exec=remsu /usr/bin/sparky-office freeoffice
Icon=applications-office
Terminal=false
Type=Application
Categories=Office;
