[Desktop Entry]
Name=Gnumeric
Comment=Calculation, Analysis, and Visualization of Information
Comment[bs]=Proračuni, analiza, prikazivanje podataka
Comment[ca]=Càlcul, anàlisi, i visualització d'informació
Comment[ca@valencia]=Càlcul, anàlisi, i visualització d'informació
Comment[cs]=Výpočty, analýzy a vizualizace informací
Comment[da]=Beregning, analyse og visualisering af information
Comment[de]=Berechnung, Analyse und Darstellung von Information
Comment[dz]=བརྡ་དོན་གྱི་་རྩིས་ལས་ དཔྱད་ཞིབ་ དང་འཆར་སྣང་
Comment[el]=Υπολογισμός, ανάλυση και εμφάνιση της πληροφορίας
Comment[en_GB]=Calculation, Analysis, and Visualisation of Information
Comment[es]=Cálculo, análisis, y visualización de información
Comment[et]=Arvutamine, analüüs ja teabe visualiseerimine
Comment[eu]=Kalkulatu, analizatu eta bistaratu informazioa
Comment[fi]=Tiedon laskenta, analyysi ja visualisointi
Comment[fr]=Calculs, analyses et visualisation d'informations
Comment[gl]=Cálculo, Análise e Visualización de Información
Comment[he]=חישוב, ניתוח והדמיית נתונים
Comment[hu]=Információk számítása, elemzése és megjelenítése
Comment[id]=Kalkulasi, Analisis, dan Visualisasi Informasi
Comment[it]=Calcolo, analisi e visualizzazione informazioni
Comment[kk]=Есептеу, талдау, және мәліметті бейнелік түрінде көрсету
Comment[lt]=Informacijos apdorojimas, analizė ir atvaizdavimas
Comment[lv]=Aprēķināšana, analīze un informācijas vizualizācija
Comment[mk]=Пресметување, анализа и визуелизација на информациите
Comment[nb]=Kalkulering, analyse og visualisering av informasjon
Comment[ne]=सूचनाको गणना, विश्लेषण, र दृष्टिकरण
Comment[pl]=Kalkulacja, analiza i wizualizacja informacji
Comment[pt]=Cálculo, análise e visualização de informação
Comment[pt_BR]=Cálculo, análise e visualização de informações
Comment[ru]=Вычисление, анализ и визуализация информации
Comment[sl]=Preračunavanje, analiza in predočenje podatkov in podrobnosti
Comment[sr]=Прорачуни, анализа, приказивање података
Comment[sr@latin]=Proračuni, analiza, prikazivanje podataka
Comment[sv]=Beräkning, analys och visualisering av information
Comment[tr]=Hesaplama, Analiz ve Bilgi Görselleştirme
Comment[vi]=Tính, phân tích và cách thức hiển thị thông tin
Comment[zh_CN]=信息的计算、统计和可视化
Comment[zh_HK]=計算、分析及資訊圖像化
Comment[zh_TW]=計算、分析及資訊圖像化
Exec=remsu /usr/bin/sparky-office gnumeric
Icon=gnumeric
Terminal=false
Type=Application
Categories=Office;
