[Desktop Entry]
Name=Kate
Comment=KDE Advanced Text Editor
Comment[ar]=كيت محرّر النّصوص المتقدّم
Comment[ca]=Editor avançat de text pel KDE
Comment[cs]=Pokročilý textový editor pro KDE
Comment[da]=KDE Avanceret Tekst Editor
Comment[de]=Erweiterter Texteditor für KDE
Comment[el]=Προχωρημένος επεξεργαστής κειμένου για το KDE
Comment[es]=Editor de texto avanzado de KDE
Comment[et]=KDE täiustatud tekstiredaktor
Comment[fi]=KDE:n kehittynyt tekstimuokkain
Comment[fr]=Éditeur de texte avancé de KDE
Comment[gl]=Editor avanzado de textos de KDE
Comment[he]=עורך טקסט מתקדם של KDE
Comment[hu]=Speciális szövegszerkesztő
Comment[ia]=KDE Advanced Text Editor, i.e. Editor avantiate de texto de KDE
Comment[id]=Penyunting Teks Lanjutan KDE
Comment[it]=Editor di testi avanzato di KDE
Comment[ko]=KDE 고급 텍스트 편집기
Comment[lt]=Sudėtingesnė KDE rašyklė
Comment[nb]=Avansert skriveprogram for KDE
Comment[nl]=KDE geavanceerde tekstbewerker
Comment[nn]=Avansert skriveprogram for KDE
Comment[pa]=KDE ਤਕਨੀਕੀ ਟੈਕਸਟ ਐਡੀਟਰ
Comment[pl]=Zaawansowany edytor tekstu KDE
Comment[pt]=Editor de Texto Avançado do KDE
Comment[pt_BR]=Editor de texto avançado do KDE
Comment[ru]=Улучшенный текстовый редактор от KDE
Comment[sk]=KDE pokročilý textový editor
Comment[sl]=Napreden urejevalnik besedil za KDE
Comment[sr]=КДЕ‑ов напредни уређивач текста
Comment[sv]=KDE avancerad texteditor
Comment[tr]=KDE Gelişmiş Metin Düzenleyici
Comment[uk]=Потужний текстовий редактор KDE
Comment[zh_CN]=KDE 高级文本编辑器
Comment[zh_TW]=KDE 進階文字編輯器
Exec=remsu /usr/bin/sparky-office kate
Icon=kate
Terminal=false
Type=Application
Categories=Office;
