[Desktop Entry]
Name=Master PDF Editor
Comment=Edit PDF files
Comment[pl]=Edycja plików PDF
Exec=remsu /usr/bin/sparky-office master-pdf-editor
Icon=acroread
Terminal=false
Type=Application
Categories=Office;
