[Desktop Entry]
Name=Mousepad
Comment=Simple Text Editor
Comment[ar]=محرر نصوص بسيط
Comment[ast]=Editor de testu simple
Comment[bg]=Опростен текстов редактор
Comment[cs]=Jednoduchý textový editor
Comment[de]=Einfache Textbearbeitung
Comment[el]=Απλός επεξεργαστής κειμένου
Comment[es]=Un simple editor de texto
Comment[fi]=Yksinkertainen tekstimuokkain
Comment[fr]=Éditeur de texte simple
Comment[hr]=Jednostavni uređivač teksta
Comment[hu]=Egyszerű szövegszerkesztő
Comment[id]=Penyunting Teks Sederhana
Comment[is]=Einfaldur textaritill
Comment[it]=Semplice editor di testo
Comment[ja]=シンプルなテキストエディターです
Comment[kk]=Қарапайым мәтін түзетушісі
Comment[ko]=간단한 문서 편집기
Comment[lt]=Paprastas teksto redaktorius
Comment[ms]=Penyunting Teks Ringkas
Comment[nb]=Enkel tekstbehandler
Comment[nl]=Eenvoudige tekstbewerker
Comment[oc]=Editor de tèxte simple
Comment[pl]=Zwykły edytor tekstu
Comment[pt]=Editor de texto simples
Comment[pt_BR]=Editor de Texto Simples
Comment[ro]=Un editor simplu de text
Comment[ru]=Простой текстовый редактор
Comment[sk]=Jednoduchý textový editor
Comment[sr]=Једноставан уређивач текста
Comment[sv]=Enkel textredigerare
Comment[te]=సులభ పాఠ్య కూర్పకం
Comment[th]=เครื่องมือแก้ไขข้อความอย่างง่าย
Comment[tr]=Basit Metin Düzenleyici
Comment[ug]=ئاددىي تېكىست تەھرىرلىگۈ
Comment[uk]=Простий текстовий редактор
Comment[zh_CN]=简易文本编辑器
Comment[zh_TW]=簡易文字編輯程式
Exec=remsu /usr/bin/sparky-office mousepad
Icon=accessories-text-editor
Terminal=false
Type=Application
Categories=Office;
