[Desktop Entry]
Name=Joplin
Comment=A note taking and to-do application
Exec=remsu /usr/bin/sparky-office joplin
Icon=gnote
Terminal=false
Type=Application
Categories=Office;
