[Desktop Entry]
Name=MComix
Comment=A viewer for comic book archives
Comment[de]=Betrachter für Comic-Archive
Comment[it]=Un visualizzatore di fumetti 
Comment[es]=Un visor de comics
Comment[sv]=En serieboksläsare
Comment[fr]=Visionneur d'images spécialisé dans la lecture des bandes dessinées
Comment[pl]=Przeglądarka komiksów
Exec=remsu /usr/bin/sparky-office mcomix
Icon=mcomix
Terminal=false
Type=Application
Categories=Office;
