[Desktop Entry]
Name=Installer MS Font
Name[pl]=Instalator czcionek MS
Name[pt_BR]=Instalador MS Fontes
Comment=Install Microsoft font
Comment[pl]=Instalacja czcionek Microsoft
Comment[pt_BR]=Instala as fontes da Microsoft
Exec=remsu /usr/bin/sparky-office msfont
Icon=font
Terminal=false
Type=Application
Categories=Office;
