[Desktop Entry]
Name[af]=Eenvoudige Skandeer
Name[am]=ቀላል ማሰሻ
Name[ar]=الماسحة الضوئية
Name[ast]=Simple Scan
Name[bg]=Опростено сканиране
Name[bo]=པར་བཤུ་དཀྱུས་མ
Name[ca]=Escaneig senzill
Name[cs]=Jednoduché skenování
Name[da]=Simpel skanning
Name[de]=Simple Scan
Name[el]=Σάρωση
Name[eo]=Simpla skano
Name[es]=Simple Scan
Name[et]=Lihtne skannija
Name[eu]=Simple Scan
Name[fa]=اسکن ساده
Name[fi]=Kuvanluku
Name[fr]=Outil de numérisation Simple Scan
Name[fur]=Scansion Semplice
Name[gd]=Sganadh simplidh
Name[gl]=Escáner sinxelo
Name[he]=סריקה פשוטה
Name[hr]=Skeniranje dokumenata
Name[hu]=Szkenner
Name[id]=Pemindai Ringkas
Name[it]=Simple Scan
Name[ja]=シンプルスキャン
Name[km]=ស្កេន​ធម្មតា
Name[ko]=심플 스캔
Name[lt]=Paprastas skenavimas
Name[lv]=Vienkārša skenēšana
Name[mhr]=Simple Scan
Name[ms]=Pengimbas Ringkas
Name[my]=ရိုးရိုး Scan ဖတ်ခြင်း
Name[nb]=Simple Scan
Name[nl]=Scannen
Name[oc]=Aisina de numerizacion simpla
Name[pa]=ਸੌਖਾ ਸਕੈਨ
Name[pl]=Proste skanowanie
Name[pt_BR]=Digitalização simples
Name[pt]=Digitalização
Name[ro]=Scanare simplă
Name[ru]=Простое сканирование
Name[sd]=سادو اسڪين
Name[se]=Simple Scan
Name[sk]=Jednoduché skenovanie
Name[sl]=Enostavno optično branje
Name[sq]=Skanim i thjeshtë
Name[sr]=Једноставно cкенирање
Name[sv]=Enkel bildläsning
Name[te]=సింపుల్ స్కాన్
Name[th]=Simple Scan
Name[tr]=Basit Tarama
Name[ug]=ئاددىي شويلىلاش
Name[uk]=Просте сканування
Name[uz]=Simple Scan
Name[vi]=Quét đơn giản
Name[zh_CN]=扫描易
Name[zh_TW]=簡易掃描
Name=Simple Scan
Comment[am]=ሰነድ ማሰሻ
Comment[ast]=Escáner de documentos
Comment[ca]=Escàner de documents
Comment[cs]=Skener na dokumenty
Comment[da]=Dokumentskanner
Comment[de]=Dokument-Scanner
Comment[el]=Σαρωτής εγγράφων
Comment[eo]=Dokumentoskanilo
Comment[es]=Escáner de documentos
Comment[eu]=Dokumentuen eskanerra
Comment[fa]=اسکنر پرونده
Comment[fi]=Asiakirjojen kuvanlukuohjelma
Comment[fr]=Numériseur de documents
Comment[fur]=Scansionadôr di document
Comment[gd]=Sganair sgrìobhainnean
Comment[gl]=Escáner de documentos
Comment[he]=סורק מסמכים
Comment[hr]=Skener dokumenta
Comment[hu]=Dokumentumbeolvasó
Comment[id]=Pelarik Dokumen
Comment[it]=Scansiona documenti
Comment[ja]=ドキュメントスキャナ―
Comment[km]=ម៉ាស៊ីនស្កេនឯកសារ
Comment[ko]=문서 스캐너
Comment[lt]=Dokumentų skeneris
Comment[lv]=Dokumentu skenētājs
Comment[ms]=Pengimbas dokumen
Comment[nb]=Dokumentskanner
Comment[nl]=Documentenscanner
Comment[pa]=ਡੌਕੂਮੈਂਟ ਸਕੈਨਰ
Comment[pl]=Skaner dokumentów
Comment[pt_BR]=Scanner de documentos
Comment[pt]=Scanner de documentos
Comment[ru]=Сканер документов
Comment[sk]=Skener dokumentov
Comment[sl]=Optični bralnik dokumentov
Comment[sr]=Скенер за документе
Comment[sv]=Dokumentbildläsare
Comment[th]=เครื่องสแกนเอกสาร
Comment[tr]=Belge Tarayıcı
Comment[uk]=Засіб для сканування документів
Comment[zh_HK]=文件掃描器
Comment[zh_TW]=文件掃描
Comment=Document Scanner
Exec=remsu /usr/bin/sparky-office simple-scan
Icon=scanner
Terminal=false
Type=Application
Categories=Office;
